* {
  box-sizing: border-box;
  margin: 0;
}
/* --------------------------------- */
body {
  width: 100%;
  height: 100vh;
  background-color: #e1e7cf;
  font-family: 'Abel', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 3vh 5%;
}
/* NAVBAR */
.navbar {
  background-color: #d4d4d4;
  height: 15vh;
}

.navbar h1 {
  background-color: white;
  margin: 0;
  text-align: center;
}
.navbar li {
  font-size: .8em;
  float: left;
  padding: 2vh 2%;
}
ul {
  list-style: none;
  margin-top: .5vh;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ADDRESS BOX */
.textbox {
  float: left;
  margin: 2vh 0;
}
.textbox h1 {
  font-size: 1.3em;
}

/* COLUMNS */
.big {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 20vh;
  height: 50vh;
  text-align: center;
}

.big img {
  width: 100%;
  height: 40vh;
}

.small {
  background-color: olivedrab;
  height: 30vh;
  margin: 3vh 0;
}
