@media only screen and (min-width: 760px) {
  .navbar {
    position: absolute;
    top: 5vh;
    left: 7%;
    background-color: white;
    width: 20%;
    height: 20vh;
  }
  .navbar h1 {
    padding-left: 6.2%;
  }
  .nav {
    float: left;
  }
  ul {
    padding-left: 20px;
  }
  li {
    padding-right: 60px;
  }
  .image {
    margin-top: 3.5vh;
  }
  .textbox {
    position: absolute;
    top: 250px;
  }
  .column {
    width: 42%;
    height: 40vh;
    margin: 2.5vh 5%;
    float: left;
  }
  .feature {
    margin-right: 3%;
  }
  .feature p {
    margin-top: 10px;
  }
  .feature h1 {
    margin-top: 150px;
  }
  .description {
    margin-left: 3%;
  }
  .description p {
    margin-top: 150px;
  }
}
